.btn-primary {
    background-color: #9c7fac !important;
    border-color: #9c7fac !important;
}

.topSection {
    /* background-color: blueviolet; */
    background-image: url("../images/purple-header.jpg");
    height: 100px;
    border-radius: 0 !important;
    /* position: relative; */
    /* text-align: center; */
}

.loginSection {
    /* background-color: firebrick;
    display: inline-block;
    height: 100px;
    line-height: 100px; */
    /* width: 200px; */
    /* position: absolute;
    left: 0px; */
    /* padding-top: 20px; */
}

.loginSection h2 {
    font-size: 1.5rem;
    color: white;
}

.topicSelector {
    /* background-color: beige; */
    display: inline-block;
    position: relative;
    /* bottom: 0px; */
    height: 100px;
    width: 300px;
    text-align: left;
}

.buttonBar {
    /* position: absolute;
    text-align: center;
    display: inline-block;
    bottom: 0px; */
    /* background-color: turquoise; */
    /* width: 300px; */
}

.seApi {
    /* background-color: yellow; */
    text-align: left;
    display: inline-block;
    height: 80px;
    width: 300px;
    position: absolute;
    right: 0px;
    padding-top: 20px;
}

#seSearch {
    /* width: 250px; */
}

.mainSection {
    /* background-color: blanchedalmond;
    min-height: 500px;
    position: relative; */

}

.sideBar {
    /* background-color: gainsboro;
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 15%;
    min-height: 480px; */

}

.rightSide {
    display: inline-block;
    /* background-color: hotpink; */
    min-height: 280px;
    width: 70%;
    position: absolute;
    left: 15%;
}

.searchResults {
    /* display: none; */
    /* background-color: khaki; */
    /* min-height: 280px; */
    width: 25%;
    position: absolute;
    top:0;
    right: 0;
    margin-top: 100px;
    z-index: 1;
    /* min-height: 480px; */
}

.codePenApi {
    /* background-color: rgb(255, 95, 95); */
    min-height: 500px;
}

.codePenApi iframe {
    height: 500px;
    width: 100%;
}

.instructionArea {
    /* background-color: indigo;
    min-height: 200px; */
}

/* .instructionArea .card-header h5 {
    width: 90%;
    display: inline-block;
} */
@media screen and (max-width: 680px) {
    #seApi {
        display: none;
    }

    #topicSelector {
        margin: 0 !important;
    }
}

@media screen and (max-width: 436px) {
    .loginSection {
        margin-left: auto;
        margin-right: auto;
    }
    #topicSelector {
        margin-left: auto !important;
        margin-right: auto !important;
    }
}