.topSection {
    background-color: blueviolet;
    height: 100px;
    position: relative;
    text-align: center;
}

.loginSection {
    background-color: firebrick;
    display: inline-block;
    height: 100px;
    width: 200px;
    position: absolute;
    left: 0px;
    /* padding-top: 20px; */
}

.topicSelector {
    /* background-color: beige; */
    display: inline-block;
    position: relative;
    /* bottom: 0px; */
    height: 100px;
    width: 300px;
    text-align: left;
}

.buttonBar {
    position: absolute;
    text-align: center;
    display: inline-block;
    bottom: 0px;
    /* background-color: turquoise; */
    width: 300px;
}

.seApi {
    /* background-color: yellow; */
    text-align: left;
    display: inline-block;
    height: 80px;
    width: 300px;
    position: absolute;
    right: 0px;
    padding-top: 20px;
}

#seSearch {
    width: 250px;
}

.mainSection {
    background-color: blanchedalmond;
    min-height: 500px;
    position: relative;

}

.sideBar {
    background-color: gainsboro;
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 15%;
    min-height: 480px;

}

.rightSide {
    display: inline-block;
    /* background-color: hotpink; */
    min-height: 280px;
    width: 70%;
    position: absolute;
    left: 15%;
}

.searchResults {
    display: inline-block;
    background-color: khaki;
    min-height: 280px;
    width: 15%;
    position: absolute;
    right: 0;
    min-height: 480px;
}

.codePenApi {
    /* background-color: rgb(255, 95, 95); */
    min-height: 500px;
}

.codePenApi iframe {
    height: 500px;
    width: 100%;
}

.instructionArea {
    background-color: indigo;
    min-height: 200px;
}